.Container{
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(
      108deg,
      rgb(4, 5, 5) 0%,
      rgb(27, 29, 28) 100%
    );
}

.FormWrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  


}

.Icon{
  margin-top: 32px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  width: 16%;

}

.FormContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  

}

.Form{
    background-color: #4e4c4c;
    max-width: 400px;
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    margin: 0 auto;
    padding: 80px 32px;
    border-radius:4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);



}

.FormH1{
    margin-bottom: 40px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.FormLabel{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.FormInput
{
    padding: 16px 16px;
    margin-bottom: 32px;
    border-radius: 4px;
}

.FormButton
{
    background: #01bf71;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.FormButton:hover{
    background: #bf01a6;

}

.Text{
    text-align: center;
margin-top: 24px;
color: #fff;
font-size: 14px;
}

@media screen and (max-width: 480px) {
    .FormWrap
    {
        height: 80%;
    }
    .FormContent{
        padding: 10px;
    }
    .Icon{
        margin-left: 16px;
        margin-top: 8px;
       }
       .Form{
        padding: 32px 32px;
    }
}