.Container{
    min-height: 692px;
    z-index: 0;
    
    background: linear-gradient(
      108deg,
      rgb(4, 5, 5) 0%,
      rgb(27, 29, 28) 100%
    );
}

.FormWrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.Icon{
  text-decoration: none;
  width: 22%;
}

.FormContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form{
    background-color: #4e5050;
    z-index: 1;
    display: grid;
    margin: 50px auto;
    padding: 40px 50px;
    border-radius:4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.FormH1{
    color: #fff;
    font-size: 36px;
    font-family: Garamond, serif;
    text-align: center;
}

.input-box {
    margin: 10px auto;
    padding-right: 50px;
    width: 80%;
    position: relative;
    box-shadow: 0 8px 10px -10px rgb(0,0,0);
}

.input-box input {
    width: 100%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
}

.Form span {
    position: absolute;
    left: 0;
    top: 0;
    height: 42px;
    width: 40px;
    background: linear-gradient(to right, #810c68, #1b1b1b);
}

span .fas {
    padding: 12px;
    color: #fff;
}

button {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    display: block;
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right, #810c68, #1b1b1b);
    box-shadow: 0 8px 10px -10px rgb(0,0,0);
    cursor: pointer;
}
.fa-sign-in-alt {
    margin-right: 10px;
}

.FormButton:hover{
    background: #810c68;

}

.user-icon{
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}

p{
    color: #fff;
}

@media screen and (max-width: 480px) {
    .FormWrap
    {
        height: 80%;
    }
    .FormContent{
        padding: 10px;
    }
    .Icon{
        margin-left: 16px;
        margin-top: 8px;
       }
       .Form{
        padding: 32px 32px;
    }
}
