.App{
  display: grid;
  place-items: center;
  background-color: rgb(27, 36, 37);
  height: 100vh;
}

.app__body{
  display: flex;
  background-color: rgb(20, 14, 14);
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(248, 248, 248, 0.897);
}

